h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 50pt;
  text-align: center;
  color: rgb(96, 107, 163);
  margin-top: 45px;
  /* text-shadow: 2px 2px 4px #000000; */
  /* padding-top: 50px; */
}

h2 {
  font-family: 'Josefin Slab', serif;
  font-size: 30pt;
  font-weight: bold;
  color: #f29f7b;
  text-align: center;
}

h3 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

h4 {
  font-family: 'Josefin Slab', serif;
  font-size: 20pt;
  text-align: center;
}

h5 {
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
  font-size: 16pt;
  color: rgb(87, 90, 96);
}

h6 {
  font-family: 'Raleway', sans-serif;
  margin-left: 43px;
  font-size: 13pt;
  color: rgb(87, 90, 96);
}

p {
  font-family: 'Raleway', sans-serif;
  padding-top: 50px;
  font-size: 17pt;
  margin-bottom: 60px;
  color: rgb(87, 90, 96);
}

img {
  margin-top: 60px;
  /* box-shadow: 10px 10px 9px grey; */
}

body {
  background-color: rgb(249, 249, 244);
}

figcaption {
  font-size: 17pt;
  margin-top: 15px;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
}

.margin-top {
  margin-top: 50px;
}

.round {
  border-radius: 50%;
}

.big {
  font-size: 40pt;
}

.g {
  font-size: 80pt;
}
.small {
  font-size: 35pt;
}


/*///NAV STYLES/// */
nav ul {
  list-style-type: none;
}

nav li, a{
  display: inline;
  margin-left: 45px;
  font-size: 18pt;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  /* color: rgb(85, 85, 86); */
  color: rgb(96, 107, 163);
  text-shadow: 2px 2px 4px rgb(234, 235, 237);
  margin-top: 25px;
}

a:hover{
  color: black;
}

nav li a:hover{
  text-decoration: underline;
  color: rgb(0,0,0);
}


/*///END NAV STYLES/// */
