h1 {
  font-family: 'Montez', cursive;
  font-size: 80pt;
}

img {
  padding-top: 50px;
}

p {
  font-family: 'Modern Antiqua', cursive;
  font-size: 25pt;
  color: white;
  text-shadow: 1px 1px rgb(147, 150, 145);
  background-color: rgb(216, 171, 171); /*pink*/
  border-radius: 25px;
  padding: 20px;
}

body {
  background-color: rgb(109, 210, 242);
}

a {
  font-size: 25pt;
  color: rgb(215, 221, 212);
  font-family: 'Playfair Display', serif;
  display: inline;
  padding-left: 90px;
  /* text-align: center; */
}


ul {
  list-style-type: none;
}

a:hover {
  color: black;
}

.duck {
  width: 190px;
  height: 260px;
  background: url('../img/sprite.jpg');
  animation: play 2s steps(8) infinite;
  margin-left: 100px;
}

@keyframes play {
   100% { background-position: -2000px; }
}




/* class selectors */
.top {
  margin-top: 100px;
}

.left {
  margin-left: 50px;
  margin-right: 50px;
}

.big {
  font-size: 50pt;
}
